/* CSS customisations */

@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-top: 30px;
	background-color: #222;
}

a {
    color: #66ccff;
    text-decoration: none;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	padding-bottom: 30px;
	color: #FFF;
	font-weight: bold;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
	padding-top: 0%;
	margin-top: 0%;
    padding-bottom: 15px;
    color: #FFF;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
	padding-top: 0%;
	margin-top: 0%;
    padding-bottom: 30px;
    color: #FFF;
}

h4 {
	text-transform: uppercase;
	margin: 3px;
	font-size: 20px;
	color: #66ccff;
}

.footer {
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 10px;
}